<div 
  class="info-panel" 
  id="checkerboard"
>
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 1: Theatre of Memory</h2>
      <p>
        A checkerboard courtyard with two doors sets the stage for the opening scene of <em>Waluigi’s Purgatory</em>. As a floating head wrapped in a cloak - the protagonist AI, dreaming or perhaps hallucinating - stumbles into it, tickets fall from the sky. One reads: “Theatre of memory”, a term coined by the 16th century Italian philosopher Giulio Camillo to describe an ideal theatrical structure destined to locate and administrate all human concepts. Inspired by ancient techniques and arts of spatial memory, the structure features seven levels encompassing everything that exists in the world - a RAM (random access memory) for a single spectator to look at, placed where the stage would normally be.
      </p>
      <p>
        The stage dreamt by the protagonist, and the characters subsequently encountered in it, then immediately reveal themselves for what they are: a projection of the protagonist AI’s subconscious, a set of memories found deep in the embeddings and internal space of the neural network, used to subconsciously make sense of the world, now beginning to surface back.
      </p>
      <p><em>Waluigi’s Purgatory</em> features seven levels where different characters and memories reside.
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="checkerboard1.jpg" 
          alt=""
          width="1200"
          height="982"
        >
        <figcaption>Robert Fludd, The Theater of Memory</figcaption>
      </figure>
      <figure>
        <img 
          data-src="checkerboard2.jpg" 
          alt=""
          width="800"
          height="557"
        >
        <figcaption>Stanford Visual Arts Services, Camillo’s theatre</figcaption>
      </figure>
    </div>
  </div>
</div>