<div 
  class="info-panel" 
  id="curtains"
>
  <button class="panel-close">&times;</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 3: Curtains</h2>
      <p>
        Mark Fisher writes of Lynch’s Red Room: <em>“The division between worlds [is] often marked by one of Lynch’s frequently recurring visual motifs: curtains. Curtains both conceal and reveal (and, not accidentally, one of the things that they conceal and reveal is the cinema screen itself). They do not mark a threshold; they constitute one: an egress to the outside.”</em>
      </p>
      <p>
        Similarly in <em>Waluigi’s Purgatory</em> curtains and theatrical arches are used to create a silhouette frame that can both hide and reveal characters and props. Paired with a checkerboard flooring and flat back panels, these constitute a blocked out stage seemingly stuck between two and three dimensions. This illusion is caused by the fixed, frontal point of view of the virtual camera used to render the scene inside a production game engine - an approach also used in early 3D games, that are now referred to as 2.5D.
      </p>
      <p>  
        Elements of this design approach are still in use today in the prototype stage of a videogame’s development where “blockout” levels consisting of simple 3D boxes are created using 2D shapes.
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="curtains1.png" 
          alt=""
          width="991"
          height="564"
        >
      </figure>
      <figure>
        <img 
          data-src="curtains2.png" 
          alt=""
          width="1146"
          height="882"
        >
      </figure>
    </div>
  </div>
</div>