<div 
  class="info-panel" 
  id="curtains"
>
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 2: Curtains</h2>
      <p>
        <em>“The division between worlds [is] often marked by one of Lynch’s frequently recurring visual motifs: curtains. Curtains both conceal and reveal (and, not accidentally, one of the things that they conceal and reveal is the cinema screen itself). They do not mark a threshold; they constitute one: an egress to the outside.”</em><br>—Mark Fisher, <em>The Weird and the Eerie</em>
      </p>
      <p>
        In <em>Waluigi’s Purgatory</em> curtains and theatrical arches are used to create a silhouette frame that can both hide and reveal characters and props. Paired with a checkerboard flooring and painted background panels, these constitute a blocked out stage seemingly stuck between two and three dimensions. This illusion is fortified by the fixed frontal point of view of the virtual camera used to render the scene inside a production game engine. Now referred to as "2.5D" this approach was used sometimes in early 3D video games. 
      </p>
      <p>  
        Elements of this design approach are still in use today in the prototype phase of a video game’s development where “blockout” levels consisting of simple 3D boxes are created using 2D shapes. 
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="waluigi.jpg" 
          alt=""
          width="991"
          height="564"
        >
        <figcaption>Waluigi's Purgatory, prototype</figcaption>
      </figure>
      <figure>
        <img 
          data-src="grim-fandango.jpg" 
          alt=""
          width="1280"
          height="720"
        >
      <figcaption>Grim Fandango (1998)</figcaption>
      </figure>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="resident-evil.jpg" 
          alt=""
          width="854"
          height="480"
        >
      <figcaption>Resident Evil (1996)</figcaption>
      </figure>
      <figure>
        <img 
          data-src="alone-in-the-dark.jpg" 
          alt=""
          width="800"
          height="450"
        >
      <figcaption>Alone in the Dark (1992)</figcaption>
      </figure>
    </div>
  </div>
</div>