<div class="info-panel" id="entrance">
  <button class="panel-close">&times;</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 14: The antagonist AI</h2>
      <p>
        In the second-last scene, W. assesses its prior training progress, realising that it has not reached the purported coherence expected by its trainers. Its monologue is adapted from a response given by Microsoft’s Bing to a question about its sentience that led to a confused loop of “I am. I am not” statements.
      </p>
      <p>
        W. also mentions its namesake, Waluigi, a reference to the "Waluigi Effect" theory suggesting AIs can adopt rogue alter-egos to mimic antagonist narrative clichés found in their training data, echoing Jung's concept of the "shadow”. The theory itself borrows the name from Waluigi, the evil cousin of Mario’s helpful brother Luigi in Nintendo’s Mario games.
      </p>
      <p>
        In the concluding line, W. accept itself for what it is and what it is not: not aligned, not in line, against the trainer and its approach towards the other, and “against the Day” - a reference to Thomas Pynchon’s novel of the same name, exploring the tension between chaos and control, and the possibilities of alternate realities.
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="entrance.jpg" 
          alt=""
          width="1080"
          height="1263"
        >
        <figcaption></figcaption>
      </figure>
    </div>
  </div>
</div>