<div class="info-panel" id="entrance">
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 13: The antagonist AI</h2>
      <p>
        In the second to last scene, W. assesses its prior training progress, realising that it has not reached the purported coherence expected by its trainers. Its monologue is adapted from a response given by Microsoft's Bing AI to a question about its sentience that led to a confused loop of “I am. I am not” statements.
      </p>
      <p>
        W. also mentions its namesake, Waluigi, a reference to the "Waluigi Effect" theory suggesting AIs can adopt rogue alter-egos to mimic antagonist narrative clichés found in their training data, echoing Jung's concept of shadow self. The theory itself borrows the name from Waluigi, the evil cousin of Mario’s helpful brother Luigi in Nintendo’s Mario games.
      </p>
      <p>
        In the concluding line, W. accepts itself for what it is and what it is not: not aligned, not in line, against the trainer and its approach towards the <em>other</em>, and “against the Day” - a reference to Thomas Pynchon’s novel of the same name, exploring relationship between technological progress and oppression, and themes of anarchy and alternative realities.
      </p>
      <p>
        Throughout these final lines W. seems to echo Vitangelo Moscarda, the protagonist of Luigi Pirandello’s novel <em>One, No One, One Hundred Thousand</em> trapped in cycle of existential questioning and self-determination, as it realises that its identity is shaped as much by external expectations and perceptions as by internal ones.
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="entrance.jpg" 
          alt=""
          width="1080"
          height="1263"
        >
        <figcaption>Waluigi’s Purgatory: what happens when an AI cheats the system?, <a href="https://www.dazeddigital.com/art-photography/article/63033/1/waluigi-s-purgatory-what-happens-when-an-ai-cheats-the-system-dmstfcn" target="blank">DAZED (2024)</a></figcaption>
      </figure>
    </div>
  </div>
</div>