<div class="info-panel info-panel__image" id="G">
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 12: Grew</h2>
      <p>Each character met by W. belongs to a particular class, delineating its characteristics such as behaviour and appearance. G is a blob, and belongs to a class of data hungry AIs, such as Large Language Models, or agents that ingurgitated large amounts of data.</p>
      <div class="panel-figures">
        <figure>
          <img 
            data-src="g.jpg" 
            alt=""
            width="2000"
            height="2000"
          >
        <figcaption>"We took inspiration from Dungeons and Dragons character sheets. We developed characters on paper and had different misalignment axes to map them to."<br>—dmstfctn, <a href="https://www.coeval-magazine.com/coeval/dmstfctn-evita-manji" target="blank">COEVAL Magazine (2024)</a></figcaption>
      </figure>
      </div>
    </div>
  </div>
</div>