<div class="info-panel" id="main-info">
  <button class="panel-close">X</button>
  <div class="panel-inner">    
    <div class="panel-text">
      <h1>Waluigi’s Purgatory (ARE YOU FOR REAL edition)</h1>
      <p><em>An AI finds itself in purgatory for cheating… will it find its way out?</em></p><p>       
        This is an interface to explore four excerpts from <em>Waluigi’s Purgatory</em> (2024), an interactive audiovisual performance by artist duo dmstfctn, featuring music by Evita Manji. This page was created for and supported by <a href="https://ru4real.de/">ARE YOU FOR REAL</a>, and is exhibited as part of their online group show <em>Agents of Fluid Predictions</em>, curated by Giulia Bini and Lívia Nolasco-Rózsás.</p>
      <p>
        <em>Waluigi’s Purgatory</em> tells the story of an AI finding itself in a purgatory for AIs that cheated during their training. Burdened by memories and doubts, the AI explores its surroundings with the help of an interacting audience, learning the uncanny stories of other characters. Experienced as a dream, Waluigi’s Purgatory is a journey through the contradictions of machine intelligence as an AI learns to accept that its desires may not align with those of its human trainers.

       During the performance, which is simulated in real-time using a video game engine, the protagonist AI is animated in real-time using facial motion capture and voice modulation, and it is guided by audience members using their phones to move a light within the simulation.</p>
      <h2>Credits</h2>
      <p>
        Written, designed, and developed by: dmstfctn<br>
        Original soundtrack composed and performed by: Evita Manji<br>
        Assistant game developer: Jenn Leung<br>
        Voice actor: Francesco Tacchini (dmstfctn)<br>
        Motion capture actor: Francesco Tacchini (dmstfctn)<br>
        Stage navigator: Oliver Smith (dmstfctn)<br>
        Supported by: Serpentine Arts Technologies
      </p>
    </div>
  </div>
</div>