<div class="info-panel" id="main-info">
  <button class="panel-close">X</button>
  <div class="panel-inner">    
    <div class="panel-text">
      <h1>Waluigi's Purgatory</h1>
      <p>       
        Waluigi’s Purgatory is an interactive audiovisual performance featuring a live soundtrack by Evita Manji. Set in a real-time simulated 3D theater, the performance follows an AI trapped in a purgatory for AIs that cheated during training. Burdened by memories and doubts, the AI explores its surroundings with the help of an interacting audience, uncovering other characters’ uncanny stories. 
      </p>
      <p>
        Experienced by the audience like a dream, the AI's journey delves into the contradictions of machine intelligence as it learns to accept that its desires may not align with human expectations. Audience members guide the AI using their phones to move a light within the simulation. Characters are animated in real-time using facial motion capture and voice modulation, while Manji's ambient soundtrack, with looping melodies and intense bursts, responds to the evolving storyline.
      </p>
      <p>
        The title refers to the Waluigi effect, a theory suggesting that AIs can adopt rogue alter-egos to mimic antagonist narrative clichés found in their training data, echoing Carl Jung’s concept of the shadow.
      </p>
      <p>
        Here, four excerpts from Waluigi’s Purgatory can be explored through an interactive interface created for and supported by <a href="https://ru4real.de/">Are You For Real</a> as part of their fifth cluster of works: <em>Agents of Fluid Predictions</em>.
      </p>
      <h2>Performance Credits</h2>
      <p>
        Writer, designer, and developer: dmstfctn<br>
        Original soundtrack composer and performer: Evita Manji<br>
        Assistant game developer: Jenn Leung<br>
        Voice actor: Francesco Tacchini (dmstfctn)<br>
        Facial motion capture actor: Francesco Tacchini (dmstfctn)<br>
        Stage navigator: Oliver Smith (dmstfctn)<br>
        Supported by: Serpentine Arts Technologies
      </p>
    </div>
  </div>
</div>