<div class="info-panel" id="letters">
  <div class="panel-text">
    <h2>Note 5: Letters</h2>
    <p>
      Each of the characters encountered in <em>Waluigi’s Purgatory</em> has a small floating letter above its body or head, short for their names. This follows less the early middle ages tradition of using visual annotation to complement scientific texts, and more the Renaissance tradition of annotating complex literary, philosophical or artistic works - as in the 1544 illustration of Dante’s <em>Purgatory</em> by the printmaker Giovanni Britto, where Dante and Virgil are indicated with the letters D and V respectively, making image and text alike more readable.
    </p>
    <p>
      The use of letters here also point to the health-bars and usernames found above players in MMORPGs, indicating their significance and strength. In <em>Waluigi’s Purgatory</em>, each character has a different type of behaviour, appearance and placement, according to the type of AI system it represents and the history of cheating it carries within. These characters have their own dynamics and interfere with one another performatively, producing a sort of ‘ontological theatre’ (Pickering, 2007) that can be explored only through equally performative engagement by the audience.
    </p>
  </div>
  <div class="panel-figures">
    <figure>
      <img 
        data-src="letters1.png" 
        alt=""
        width="660"
        height="1114"
      >
      <figcaption>Giovanni Britto (1544)</figcaption>
    </figure>
  </div>
</div>