<div class="info-panel" id="letters">
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 6: Letters</h2>
      <p>
        Each character encountered in <em>Waluigi’s Purgatory</em> has a letter floating above its head or body, short for their names. This follows less the early middle ages tradition of using visual annotation to complement scientific texts, and more the Renaissance tradition of annotating complex literary, philosophical or artistic works - as in the 1544 illustration of Dante’s <em>Purgatory</em> by the printmaker Giovanni Britto, where Dante and Virgil are indicated with the letters D and V respectively, making the poem and the image more explicable. This is a recurring concern in the work of dmstfctn.
      </p>
      <p>
        The use of letters in <em>Waluigi’s Purgatory</em> also points to the health-bars and usernames found above players in MMORPGs to indicate their significance and strength. Similarly in purgatory each character has a different type of behaviour, appearance and placement, according to the type of AI system they embody and the specific history of cheating they carry within. Each nonhuman character has its own dynamic and interferes with others, producing what Charles Pickering may call an ”ontological theatre” that can be explored only through equally performative interaction by the human audience.
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="letters1.jpg" 
          alt=""
          width="667"
          height="757"
        >
        <figcaption>Giovanni Britto, Dante's Purgatory (1544)</figcaption>
      </figure>
    </div>
  </div>
</div>