<div class="info-panel" id="loot">
  <div class="panel-text">
    <h2>Note 12: Coughing loot</h2>
    <p>
      <em>W: “What is this place?”<br>
      D: ”It’s where we chew through everything, never digest it, and cough it all back out”</em>
    </p>
    <p>
      Characters in purgatory are unsure, unwell and coughing. They are allegorically and literally chained to their memories of cheating while training, memories they constantly reminisce and regurgitate  - coughing and regurgitating here being a reference to MMORPG videogame tropes such as taking hits and dropping loot when fighting.
    </p>
  </div>
  <div class="panel-figures">
    <figure>
      <img 
        data-src="loot1.gif" 
        alt="" 
        width="465"
        height="400"
      >
      <figcaption>The MMORPG Metin 2</figcaption>
    </figure>
    <figure>
      <img 
        data-src="loot2.png" 
        alt=""
        width="2600"
        height="1828"
      >
      <figcaption>Waluigi’s Purgatory, coughing sketch</figcaption>
    </figure>
  </div>
</div>