<div 
  class="info-panel info-panel__nofig" 
  id="sign"
  style="left: 65%; top: 28%;"
>
  <button class="panel-close">&times;</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 4: Signs</h2>
      <p>
        Signs are lowered onto the stage throughout the story. They typically contain subtitles translating the inhuman language spoken by the characters inhabiting purgatory. Sometimes, however, the subtitles are used to textually delineate W.’s emotional state, in line with its origins as a language model. And at other times, such as here, they are used to break the 4th wall, suggesting to the audience what actions they should take.
      </p>
      <p>
        The signs are dropped by an invisible stage hand - a joystick used by the artists during the performance - and make up one component of the wider, real-time stage management system of which the audience is also a part - through the use of their phone to each move an individual stage light in the simulation.
      </p>
    </div>
  </div> 
</div>