<div 
  class="info-panel info-panel__nofig" 
  id="sign"
>
  <button class="panel-close">&times;</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 3: Signs</h2>
      <p>
        Throughout the performance, signs are lowered onto the stage as subtitles to translate the inhuman language spoken by the characters inhabiting purgatory. In composing the soundtrack for the performance, musician Evita Manji created a series of “sound signatures” as voice and language for different characters. Originally intended as recurring melodies for recurring characters - like Bach motifs - these eventually became assemblages of sounds played live and able to reflect characters’ emotion or personality: whispers for the doubtful, brass for the military, jazz piano and sax for the old and wise.
      </p>
      <p>
        The signs are also used to delineate W.’s emotional state textually, in line with its origins as a language model, as well as to break the 4th wall by suggesting to the audience what actions they should take - as seen here.
      </p>
      <p>
        The signs are dropped by an invisible stage hand, a joystick used by the artists during the performance, and make up one component of the wider real-time stage management system of which the audience is also a part - through the use of their phone to move an individual stage light in the simulation.
      </p>
    </div>
  </div> 
</div>