<div class="info-panel info-panel__nofig" id="stage-ch3">
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 11: Wall inscriptions</h2>
      <p>Wittgenstein observed that “if a lion could speak, we could not understand him”. The writings on the cave walls here point again to Katherine Hayles’ conception of “AI as inscriptions”, or language-based entities, suggesting a space carved, crafted, or constructed from language first (see Note 4: The protagonist AI). Whilst many AI systems are based on human language, particularly English, this may not point to a shared language, understanding, or consciousness; thus these inscriptions remain illegible for the audience.</p>
    </div>
  </div>
</div>