<div class="info-panel info-panel__nofig" id="stage-ch3">
  <div class="panel-text">
    <h2>Note 9: Wall inscriptions</h2>
    <p>Indecipherable writings on the wall here point to Katherine Hayles’ conception of “AI as inscriptions”, or language-based entities, and suggest a space carved, crafted, or constructed from language first (see Note 4: The protagonist AI). Wittgenstein observed that “if a lion could speak, we could not understand him”. Whilst many AI systems are based on human language, particularly English, this may not point to a shared language, understanding, or consciousness - and while these inscriptions are illegible for the audience, they may hold meaning for the AIs stuck in purgatory.</p>
  </div>
</div>