<div class="info-panel" id="stage">
  <div class="panel-text">
    <h2>Note 7: Rotating Stage</h2>
    <p><em>Waluigi’s Purgatory</em> features a rotating main stage. As a traditional theatrical device, this type of stage is used to transition between scenes without the use of curtains or the need to respawn actors, allowing for simultaneous actions. It is design as a hexagonal plane featuring six different sets that can be rotated to at any point. During the performance, the rotation is controlled in real-time by the artists using a joystick.</p>
  </div>
  <div class="panel-figures">
    <figure>
      <video data-src="stage1.mp4" loop muted disablePictureInPicture autoplay playsinline></video>
      <figcaption>A rotating stage designed by Luigi Perego for the opera buffa Don Pasquale by Gaetano Donizetti (Flórez, Raimondi, Rey, 2006)</figcaption>
    </figure>
    <figure>
      <img
        data-src="stage2.png"
        alt=""
        width="3024"
        height="1692"
      >
      <figcaption>Main stage design sketch for Waluigi’s Purgatory</figcaption>
    </figure>
  </div>
</div>