<div class="info-panel" id="stage">
  <button class="panel-close">&times;</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 5: Rotating Stage</h2>
      <p><em>Waluigi’s Purgatory</em> features a large hexagonal stage that is able to rotate. As a traditional theatrical device, this type of stage is used to transition between scenes without the use of curtains or the need to respawn actors, allowing for simultaneous actions. Its design features six different sets that can be rotated into the audience's view with the press of a joystick button. Stage lights are both controlled in real time and programmable.</p>
    </div>
    <div class="panel-figures">
      <figure>
        <video data-src="stage1.mp4" loop muted disablePictureInPicture autoplay playsinline></video>
        <figcaption>Rotating stage design by Luigi Perego, for the opera <em>Don Pasquale</em> by Gaetano Donizetti (Flórez, Raimondi, Rey, 2006)</figcaption>
      </figure>
      <figure>
        <img
          data-src="stage2.jpg"
          alt=""
          width="1787"
          height="1000"
        >
        <figcaption>Stage design sketch for <em>Waluigi’s Purgatory</em></figcaption>
      </figure>
    </div>
  </div>
</div>