<div class="info-panel" id="stage-ch4">
  <button class="panel-close">&times;</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 13: Sliding stage</h2>
      <p>
        Used for the second-last scene only, this stage features a side view reminiscent of 2D platformer games. Its designed is inspired by etchings of the Wieliczka Salt Mine in Poland made by Willem Hondius in the 17th century, which unwrap the internal mine space panoramically.
      </p>
      <p>
        This scene is crucial to the resolution of the story, and the downwards sliding stage is a plot device, or deus ex machina, through which the illusion of W. ascending out of purgatory is literally and metaphorically created. 
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="stage-ch4-1.jpg" 
          alt=""
          width="1352"
          height="1052"
        >
        <figcaption>Wieliczka salt mine etching by Willem Hondius</figcaption>
      </figure>
      <figure>
        <img 
          data-src="stage-ch4-2.jpg" 
          alt=""
          width="1160"
          height="580"
        >
        <figcaption>Oddworld: Abe’s Odyssee</figcaption>
      </figure>
      <figure>
        <img 
          data-src="stage-ch4-3.jpg" 
          alt=""
          width="2000"
          height="1304"
        >
        <figcaption>Waluigi’s Purgatory, side view sketch</figcaption>
      </figure>
    </div>
  </div>
</div>