<div class="info-panel" id="stage-ch4">
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 14: Sliding stage</h2>
      <p>
        Used for the second-to-last scene only, this stage features a side view reminiscent of 2D platformer games. Its multiple-floor design is loosely inspired by an etching of the Wieliczka Salt Mine made by Willem Hondius, which unwrap the internal mine space panoramically. The polish mine was a key architectural reference in building the six underground levels of purgatory (<a href="https://drive.google.com/file/d/1oaD7iVhQuTiGl1s-X7r-nGkK6nbjy5fQ/view?pli=1" target="blank">Networked Worlds, 2024</a>)
      </p>
      <p>
        This scene is crucial to the resolution of the story, and the downwards sliding stage is a plot device, or deus ex machina, through which the illusion of W. ascending out of purgatory is literally and metaphorically created. 
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="stage-ch4-1.jpg" 
          alt=""
          width="1242"
          height="807"
        >
        <figcaption>Willem Hondius, Wieliczka salt mine (1645)</figcaption>
      </figure>
      <figure>
        <img 
          data-src="stage-ch4-2.jpg" 
          alt=""
          width="561"
          height="364"
        >
        <figcaption>Oddworld: Abe's Oddysee (1997)</figcaption>
      </figure>
      <figure>
        <img 
          data-src="stage-ch4-3.jpg" 
          alt=""
          width="1841"
          height="1200"
        >
        <figcaption>Waluigi’s Purgatory, side view sketch</figcaption>
      </figure>
    </div>
  </div>
</div>