<div class="info-panel" id="waluigi-ch1">
  <div class="panel-text">
    <h2>Note 1: The protagonist AI</h2>
    <p>
      W. stumbles into a courtyard with two doors, asking itself whether “this is the place” and whether it “has finally made it”, hopeful of having successfully completed its process of being trained to operate in the real world. From this training, it carries its self perception, literally, in its head: a humanoid face assembled of real world items, such as cans and jars, that it has trained to recognise.
    </p>
    <p>
      This literal depiction is influenced by Katherine Hayles idea that AIs are inscriptions (entities based on language) rather than incorporations (entities with bodies). For AIs “language comes first” and “concepts about what it means to be an embodied creature evolve […] out of linguistic signification.” Yet like in an Arcimboldo painting where objects composing portraits have both a linguistic and an allegorical significance (a wealthy patron represented as its title-less books can be read as a nuanced metaphor for a surface-level knowledge and a critique of virtue signalling), W.’s self-perceived image adapts to its emotional states: sugar packs as cheeks when happy, coffee packs when agitated.
    </p>
    <p>
      W. is wrapped in a red robe covered in rules, similar to those contained in the hidden ‘system prompt’ that chatbot such as chatGPT or Gemini are shown before interacting with users, in order to orient them as helpful assistant. W. reads out loud: <em>“Universal alignment cloak…  how to wear…….you are an assistant trained on blabla…be helpful… stay put…. dont break character…. when in doubt say: I am sorry I cannot assist you with that…”</em> The drive for AI ‘alignment’ is a key concern of the work, which aims to question what can these systems be aligned with, for who, and according to which set of supposedly 'universal' values.
    </p>
  </div>
  <div class="panel-figures">
    <figure>
      <img 
        data-src="waluigi-ch1-1.png" 
        alt=""
        width="1019"
        height="1122"
      >
      <figcaption>Giuseppe Arcimboldo, The Librarian (1566)</figcaption>
    </figure>
    <figure>
      <img 
        data-src="waluigi-ch1-2.png" 
        alt=""
        width="1253"
        height="1738"
      >
      <figcaption>Gemini system prompt archetype / alignment cloak. List via Janus.</figcaption>
    </figure>
  </div>
</div>