<div class="info-panel" id="waluigi-ch2">
  <div class="panel-text">
    <h2>Note 8: Embodiment</h2>
    <p>
      During the performance, the artists act as a proxy for W. Its position and movement are controlled using a joystick and buttons, allowing W. to interact with the characters it encounters as they autonomously spawn in and out of the stage. Its voice is produced through effects applied to one of the artists’ voice, modulated to sound indecisive in contrast with the certainty often heard in AI assistants. And its expressions are controlled by facial motion capture allowing synchronisation with speech, emotional transfer, and an immediate response to the audience - which uses their phones to move an individual light in the simulation, guiding W. around.
    </p>
    <p>
      The use of game engines able to render images in real-time allows for an immediate artist-audience feedback, moving the performance away from being a definitive recital and towards being an open game spawning a field of possibilities. In Umberto Eco’s words (<em>The Open Work</em>), similar open-ended approaches to creating artworks can produce a “controlled disorder” that can reflect the senselessness or discontinuity of the modern world. This links to the work’s concern with AI alignment and with the idea that a simplified, helpful, predictable tool can be produced from systems, such as LLMS, that attempt to incorporate the totality of modern information.
    </p>
  </div>
  <div class="panel-figures">
    <figure>
      <img 
        data-src="waluigi-ch2.jpg" 
        alt="" 
        width="984" 
        height="1349"
      >
      <figcaption>Facial motioncapture during a performance of Waluigi's Purgatory</figcaption>
    </figure>
  </div>
</div>