<div class="info-panel" id="waluigi-ch2">
  <button class="panel-close">X</button>
  <div class="panel-inner">
    <div class="panel-text">
      <h2>Note 8: Embodiment</h2>
      <p>
        During the performance, dmstfctn act as a proxy for the protagonist. Its position and movement are controlled using a joystick and buttons, allowing W. to interact with the characters it encounters as they spawn in and out of the stage. Its voice is produced through effects applied to one of the artists’ voice, modulated to sound indecisive in contrast with the certainty often heard in AI assistants. Its expressions are controlled by facial motion capture allowing synchronisation with speech, emotional transfer, and an immediate response to the audience - which uses their phones to move an individual light in the simulation, guiding W. around.
      </p>
      <p>
        The use of real-time game engines in the making of <em>Waluigi’s Purgatory</em> allows for an immediate artist-audience feedback, moving the performance away from a definitive recital and towards an open game spawning a field of possibilities. In <em>The Open Work</em> (1962), Italian philosopher Umberto Eco describes how similar open-ended approaches to creating artworks can produce a “controlled disorder” to reflect “the senselessness of the modern experience of the world”.<sup>1</sup> Here, <em>Waluigi’s Purgatory</em> points to a senselessness found in the idea that machine intelligence can be aligned to supposedly universal human values. The work portrays both the external disorder of a cast of AI characters autonomously spawning and interacting with each other on stage, as well as the internal disorder of a protagonist who, guided by an audience in its encounters with such characters, navigates doubts, fears and desires about its condition.</p>

        <p><sup>1</sup> See Moving Castles, <em><a href="https://movingcastles.world/three-eras-of-world-generation" target="blank">Three Eras of World Generation</a></em></p>
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="waluigi-ch2.jpg" 
          alt="" 
          width="984" 
          height="1349"
        >
        <figcaption>Facial motion capture during <em>Waluigi's Purgatory</em>, Serpentine x HQI, London (2024).</figcaption>
      </figure>
    </div>
  </div>
</div>