<div class="info-panel" id="waluigi-ch1">
  <button class="panel-close">&times;</button>
  <div class="panel-inner">    
    <div class="panel-text">
      <h2>Note 4: The protagonist AI</h2>
      <p>
        W. stumbles into a courtyard with two doors, asking itself whether “this is the place” and whether it “has finally made it”, hopeful of having successfully completed its process of being trained to operate in the real world. From this training, W. has accrued a set of experiences: a “lifeworld”, constituting an image of the world and of itself which it literally carries in its head: a humanoid face assembled of real world items, such as cans and jars, that it has trained to recognise in a previous timeline.
      </p>
      <p>
        This literal depiction is influenced by theorist Katherine Hayles’ idea that AIs are inscriptions, or entities based on language, rather than incorporations, or entities with bodies. For AIs, “language comes first” and “concepts about what it means to be an embodied creature evolve […] out of linguistic signification.” Yet like in an Arcimboldo painting where objects composing portraits have both a linguistic and an allegorical significance (a wealthy patron represented as its title-less books can be read as a nuanced metaphor and critique of surface-level knowledge), W.’s self-perceived image can adapt to its emotional state: sugar packs as cheeks when happy, coffee packs when agitated.
      </p>
      <p>
       Alongside representation of machine intelligence, a key concern of <em>Waluigi’s Purgatory</em> is critiquing the present-day western drive for ‘AI alignment’, questioning what a machine intelligence could even be aligned with, for whom, and according to which set of supposedly 'universal' values. Wrapped in a robe covered in instructions similar to those found in the hidden ‘system prompt’ that AI chatbot are shown before interacting with users to orient them as friendly, W. reads: <em>“Universal alignment cloak…  how to wear…….you are an assistant trained on blabla…be helpful… stay put…. dont break character…. when in doubt say: I am sorry I cannot assist you with that…”</em>
      </p>
    </div>
    <div class="panel-figures">
      <figure>
        <img 
          data-src="arcimboldo.jpg" 
          alt=""
          width="1019"
          height="1122"
        >
        <figcaption>Giuseppe Arcimboldo, The Librarian (1566)</figcaption>
      </figure>
      <figure>
        <img 
          data-src="prompt.jpg" 
          alt=""
          width="874"
          height="452"
        >
        <figcaption>Google Gemini’s alignment cloak / system prompt. List via <a href="https://twitter.com/repligate/status/1763300405138887137/photo/1" target="blank">Janus</a></figcaption>
      </figure>
    </div>
  </div>
</div>