@font-face {
  font-family: 'tt';
  src: url('/tt_bold_italic.woff2') format('woff2'),
       url('/tt_bold_italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'tt';
  src: url('/tt_bold.woff2') format('woff2'),
       url('/tt_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'tt';
  src: url('/tt_italic.woff2') format('woff2'),
       url('/tt_italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'tt';
  src: url('/tt_regular.woff2') format('woff2'),
       url('/tt_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: black;
  font-family: 'tt', 'Times New Roman', Times, serif;
}

body{
  display: flex;
  flex-direction: row;  
  justify-content: center;
}
#interface{
  width: calc( 100vh / 9 * 16 );
  height: 100vh;
  position: relative;
}

@media (max-aspect-ratio: 16/9) {
  body{
    flex-direction: column;  
  }
  #interface{
    width: 100vw;
    height: calc( 100vw / 16 * 9 );
  }
}

  #video{
    width: 100%;
    height: auto;
  }
  #overlay,
  #info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
    .hotspot{
      width: 5vw;
      height: 5vw;
      background-color: rgba( 255, 255, 255, 0.1 );
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s linear, transform 0.05s linear;
      position: absolute;
      left: -2.5vw;
      top: -2.5vw;
      transform: translateX(0) translateY(0);
      cursor: pointer;
      background-size: contain;
    }

    #overlay.active .hotspot{
      opacity: 1;
      pointer-events: all;
    }
    #overlay .hotspot.hidden{
      opacity: 0;
      pointer-events: none;
    }

  #info{
    pointer-events: none;
  }
    #info .info-panel{
      position: absolute;
      top: 3rem;
      left: 3rem;
      width: 40%;
      padding: 1rem 1.3rem;
      box-sizing: border-box;
      background-color: rgba( 140, 140, 140, 1);
      color: #000000;
      opacity: 0;
      pointer-events: none;
      transition: opacity .5s linear;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      max-height: 100%;
      overflow: auto;
    }
      #info .info-panel.visible{
        opacity: 1;
        pointer-events: all;
      }
      .info-panel .panel-text{
        font-size: 1.1rem;
        flex-grow: 1;
        max-width: 31em;
        /* padding: 1rem 1.3rem;
        box-sizing: border-box;
        background-color: rgba( 140, 140, 140, 1); */
      }
      .info-panel .panel-text p,
      .info-panel .panel-text h1,
      .info-panel .panel-text h2,
      .info-panel .panel-text h3,
      .info-panel .panel-text h4,
      .info-panel .panel-text h5,
      .info-panel .panel-text h6{
        margin-top: 0;
      }
      .info-panel .panel-text h1,
      .info-panel .panel-text h2,
      .info-panel .panel-text h3,
      .info-panel .panel-text h4,
      .info-panel .panel-text h5,
      .info-panel .panel-text h6{
        margin-bottom: 0.2em;
      }
        .info-panel .panel-text p:last-child{
          margin-bottom: 0;
        }
      .info-panel .panel-images{
        width: 100%;
        display: flex;
        flex-grow: 0;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
      }
      .info-panel .panel-images figure{
        height: 100%;
        width: auto;
        margin: 0;
        flex: 1 1 0px;
        display: flex;
        flex-direction: column;
      }
        .info-panel .panel-images figure img,
        .info-panel .panel-images figure video{
          width: 100%;
          height: auto;
        }
        .info-panel .panel-images figure figcaption{
          margin-top: 0.3rem;
          font-style: italic;
          font-size: 0.85em;
        }
      
  #video-controls{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
  }
    #video-controls button{
      background: transparent;
      border: none;
      color: #FFFFFF;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;
    }
    #chapters{

    }
      #chapters button{
        display: block;
        position: relative;
      }
        #chapters button:active::before,
        #chapters button.current::before,
        #chapters button:hover::before{
          content: '';
          width: .4em;
          height: .4em;
          border-radius: 50%;
          background-color: #FFFFFF;
          position: absolute;
          right: 100%;
          top: 50%;
          transform: translateY(-70%);
        }

    #buttons{

    }
      #time{

      }
        #time button{

        }
      #playpause{

      }

  #progress{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
  }
    #progress .progress--indicator{
      width: 0;
      height: 2px;
      position: absolute;
      bottom: 0;
      transition: width .1s linear;
      background: rgba( 255,255,255,0.5);
    }

    #progress .progress--notes{
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      color: rgba( 255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity .5s linear;
    }
      #progress .progress--notes.show{
        opacity: 1;
      }